<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://mmaemilia.ecore"
            class="metamodel.mmaemilia.mmaemiliaPackage"
            genModel="model/mmAEmilia.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mmAEmilia -->
      <package
            uri="http://datatype.ecore"
            class="metamodel.mmaemilia.DataType.DataTypePackage"
            genModel="model/mmAEmilia.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mmAEmilia -->
      <package
            uri="http://expressions.ecore"
            class="metamodel.mmaemilia.Expressions.ExpressionsPackage"
            genModel="model/mmAEmilia.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mmAEmilia -->
      <package
            uri="http://headers.ecore"
            class="metamodel.mmaemilia.Headers.HeadersPackage"
            genModel="model/mmAEmilia.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mmAEmilia -->
      <package
            uri="http://behavior.ecore"
            class="metamodel.mmaemilia.Behavior.BehaviorPackage"
            genModel="model/mmAEmilia.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mmAEmilia -->
      <package
            uri="http://queueingNetwork.ecore"
            class="metamodel.mmaemilia.QueueingNetwork.QueueingNetworkPackage"
            genModel="model/mmAEmilia.genmodel"/>
   </extension>

</plugin>
